{% extends 'base.html' %} {% block content %}
  <body class="bg-secondary">
    <div class="container">
      <table class="table text-white mt-5">
        <thead>
          <tr>
            <th>username</th>
            <th >Password</th>
            <th>Description</th>
            <th>Add Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for pass in passwords %}

          <tr >
            <td class="p-1 ">{{pass.username}}</td>
            <td class="p-1 px-0" onclick="togglePassword({{pass.id}})"><input class="m-0 p-0" id="{{pass.id}}" type="password" value="{{pass.password}}"/></td>
            <td class="p-1">{{pass.description}}</td>
            <td class="p-1">{{pass.create_Date}}</td>
            <td class="p-1">
              <form action="deletePassword/{{pass.id}}" method="POST"  class=" d-inline-block ">
                {% csrf_token %}{{form.as_p}}
                <button value="remove" type="submit" class="btn btn-danger"> remove </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-center">
        <a href="{% url 'Password_Storage:AddPassword' %}">
          <button class="btn btn-light p-1 m-0 align-center" type="button">
            New Password
          </button>
        </a>
      </p>
    </div>
    <script>
      function togglePassword(id) {
        var x = document.getElementById(id);
        if (x.type === "password") { x.type = "text"; } else { x.type =
          "password"; } }
    </script>
  </body>
  </html>
  {% endblock  %}
