{% extends 'base.html' %} {% block content %}
  <body class="bg-dark">
    <div class="container">
      <table class="table text-white">
        <thead>
          <tr>
            <th>Id</th>
            <th>username</th>
            <th>Password</th>
            <th>Description</th>
            <th>Add Date</th>
          </tr>
        </thead>
        <tbody>
          {% for pass in passwords %}

          <tr>
            <td>{{pass.id}}</td>
            <td>{{pass.username}}</td>
            <td>{{pass.password}}</td>
            <td>{{pass.description}}</td>
            <td>{{pass.create_Date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-center">
        <a href="{% url 'Password_Storage:Add_Password' %}">
          <button class="btn btn-success p-1 m-0 align-center" type="button">
            New Password
          </button>
        </a>
      </p>
    </div>
  </body>
  </html>
  {% endblock  %}
