{% extends 'base.html' %} {% block content %}
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 93vh;
  "
>
  <blockquote class="text-center blockquote">
    <h3 class="text-white" style="width: 300px">
      "Keep smiling, because life is a beautiful thing and there's so much to
      smile about."
    </h3>
    <h6 class="text-white"><i>Marilyn Monroe</i></h6>
  </blockquote>
</div>
{% endblock %}
