{% extends 'base.html' %}{% block content %}
<section class="p-5 gradient-form gradient-custom-2">
  <form
    action=""
    method="POST"
    class="d-flex justify-content-center align-items-center mb-4"
  >
    <div class="form-outline flex-fill container text-center text-white">
      {% csrf_token %} {{form.as_p}}
      <input
        type="submit"
        value="Add Contact"
        class="text-primary text-decoration-none bg-white ms-2 p-2 border border-primary rounded-2"
      />
    </div>
  </form>
</section>
{% endblock %}
